<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="triangle" class="com.example.springdemo.Triangle" init-method="myInit">
        <constructor-arg type="int" value="20"/>
        <property name="points">
            <list>
                <ref bean="a"/>
                <ref bean="b"/>
                <ref bean="c"/>
            </list>
        </property>

    </bean>
    <bean id="point" class="com.example.springdemo.Point" abstract="true">
        <property name="x" value="${pointA.pointX}"/>
        <property name="y" value="${pointA.pointY}"/>
    </bean>
    <bean id="a" class="com.example.springdemo.Point" parent="point">
    </bean>
    <bean id="b" class="com.example.springdemo.Point" parent="point">
    </bean>
    <bean id="c" class="com.example.springdemo.Point" parent="point">
    </bean>
    <bean class="com.example.springdemo.DisplayBeanNamePostProcessor"/>
    <bean class="com.example.springdemo.BeanFactoryPostProcessor"/>
    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="locations" value="application.properties"/>
    </bean>
</beans>