<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.example.springdemo"/>
    <aop:aspectj-autoproxy/>
    <bean id="triangle" class="com.example.springdemo.model.Triangle" init-method="myInit">
        <constructor-arg type="int" value="20"/>
        <property name="points">
            <list>
                <ref bean="a"/>
                <ref bean="b"/>
                <ref bean="c"/>
            </list>
        </property>
    </bean>

    <bean id="point" class="com.example.springdemo.model.Point" abstract="true">
        <property name="x" value="${pointA.pointX}"/>
        <property name="y" value="${pointA.pointY}"/>
    </bean>

    <bean id="centerPoint" class="com.example.springdemo.model.Point" abstract="true">
        <property name="x" value="${center.x}"/>
        <property name="y" value="${center.y}"/>
    </bean>

    <bean id="center" class="com.example.springdemo.model.Point" parent="centerPoint"/>
    <bean id="a" class="com.example.springdemo.model.Point" parent="point">
    </bean>
    <bean id="b" class="com.example.springdemo.model.Point" parent="point">
    </bean>
    <bean id="c" class="com.example.springdemo.model.Point" parent="point">
    </bean>
    <bean class="com.example.springdemo.DisplayBeanNamePostProcessor"/>
    <bean class="com.example.springdemo.BeanFactoryPostProcessor"/>
    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="locations" value="application.properties"/>
    </bean>
    <bean id="shapeService" class="com.example.springdemo.service.ShapeService"/>
</beans>